name: basic CI
on:
  push:
    branches: [ main ]
  pull_request:
jobs:
  build:
   runs-on: ubuntu-lastest
   steps:
     - uses: actions/checkout@v4
     - name: Run build
       run: echo "CI is running"